section.subscribe
    .subscribe__container
        h2.subscribe__title
            | Join over 2 million designers already using InVision. Get InVision 
            strong free
            |  forever!
        form(method="POST" action="#" novalidate="novalidate").subscribe__form
            p.subscribe__inpWrapper
                label(for="signup_name").subscribe__inpLabel Your Name
                i.subscribe__icon.subscribe__icon_user
                input(type="text" name="name" id="signup_name" value="" autocomplete="off" spellcheck="false" tabindex="#{tabindex++}").subscribe__inp
            p.subscribe__inpWrapper
                label(for="signup_emailEmail").subscribe__inpLabel Address
                i.subscribe__icon.subscribe__icon_email
                input(type="email" name="email" id="signup_email" value="" autocomplete="off" spellcheck="false" tabindex="#{tabindex++}").subscribe__inp
            p.subscribe__inpWrapper
                label(for="signup_password").subscribe__inpLabel Create a Password
                i.subscribe__icon.subscribe__icon_lock
                input(type="password" name="password" id="signup_password" value="" autocomplete="off" spellcheck="false" tabindex="#{tabindex++}").subscribe__inp
            p.subscribe__inpWrapper
                button(type="submit" tabindex="#{tabindex++}").subscribe__formSubmit Get Started — Free Forever!
        p.subscribe__terms 
            | By clicking "Get Started — Free Forever!" I agree to InVision's 
            a(href="#" tabindex="#{tabindex++}" target="") Terms of Service
            | .
