footer.pageFooter
    .pageFooter__container
        .pageFooter__lists
            .pageFooter__col.pageFooter__menuBlock
                h3.pageFooter__colTitle Shop and Learn
                ul.pageFooter__colList
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Mac
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Ipad
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Iphone
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Watch
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink TV
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Music
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink iTunes
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink iPod
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Accessories
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Gift Cards
            .pageFooter__col.pageFooter__menuBlock
                h3.pageFooter__colTitle Apple Store
                ul.pageFooter__colList
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Find a Store
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Genius Bar
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Workshops and Learning
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Youth Programs
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple Store App
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Refurbished
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Financing
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Reuse and Recycling
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Order Status
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Shopping Help
            .pageFooter__col
                .pageFooter__menuBlock
                    h3.pageFooter__colTitle For Education
                    ul.pageFooter__colList
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple and Education
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Shop for College
                .pageFooter__menuBlock
                    h3.pageFooter__colTitle.pageFooter__colTitle_topMargin For Business
                    ul.pageFooter__colList
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple and Business
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Shop for Business
            .pageFooter__col
                .pageFooter__menuBlock
                    h3.pageFooter__colTitle Account
                    ul.pageFooter__colList
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Manage Your Apple ID
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple Store Account
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink iCloud.com
                .pageFooter__menuBlock
                    h3.pageFooter__colTitle.pageFooter__colTitle_topMargin Apple Values
                    ul.pageFooter__colList
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Environment
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Supplier Responsibility
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Accessibility
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Privacy
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Inclusion and Diversity
                        li
                            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Education
            .pageFooter__col.pageFooter__menuBlock
                h3.pageFooter__colTitle About Apple
                ul.pageFooter__colList
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple Info
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Newsroom
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Job Opportunities
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Investors
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Events
                    li
                        a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Contact Apple
        .pageFooter__shop
            | More ways to shop: Visit an 
            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink Apple Store
            | , call 1-800-MY-APPLE, or 
            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink find a reseller
            | .
        .pageFooter__copyright
            span.pageFooter__copyrightInfo Copyright © 2016 Apple Inc. All rights reserved.
            .pageFooter__copyLinks
                a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink Privacy Policy
                a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink Terms of Use
                a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink Sales and Refunds
                a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink Legal
                a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink Site Map
            a(href='#' tabindex="#{tabindex++}").pageFooter__colLink.pageFooter__copyLink.pageFooter__copyLink_langLink United States
